.timReynolds{
    color: #ffffff;
    border-radius: 10px;
    background-color: #3f2af0;
}
.kianBarry{
    color: #ffffff;
    border-radius: 10px;
    background-color: #C612DE;
}
.felixLee{
    color: #ffffff;
    border-radius: 10px;
    background-color: #FF6600;
}
.arthurAdams{
    color: #ffffff;
    border-radius: 10px;
    background-color: #09BA18;
}
.bobBurton{
    color: #ffffff;
    border-radius: 10px;
    background-color: #7D0404;
}
