  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../home">Union</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="../biographies">Biographies</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Competitor
          Guides</a>
          <ul class="dropdown-menu">
            <li>
              <a href="../competing">Competing</a>
            </li>
            <li>
              <a href="../helping-out">Judging and Running</a>
            </li>
            <li>
              <a href="../scrambling">Scrambling</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="../overview">Yearly Overview</a>
        </li>
        <li>
          <a href="../organizing">Resources for Organizers</a>
        </li>
        <li>
          <a href="../media">Photos and Videos</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links</a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://www.worldcubeassociation.org/">World Cube
              Association</a>
            </li>
            <li>
              <a href="http://www.cubingusa.com/">CubingUSA</a>
            </li>
            <li>
              <a href="https://www.speedsolving.com/">Speedsolving Forums</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>